.minus__header__main_-navigationSidebarContainer {
  text-transform: none;
}

.minus__header__main_-navigationSidebarContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus__header__main_-navigationSidebarContainer ul li,
.minus__header__main_-navigationSidebarContainer ul li ul li {
  font-weight: 700;
}

.minus__header__main_-navigationSidebarContainer ul li a {
  display: block;
  padding-bottom: 15px;
  margin: 0;
  color: #1f7f9b;
  text-decoration: underline;
  font-size: 1.25em;
}

.minus__header__main_-navigationSidebarContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus__header__main_-navigationSidebarContainer ul li,
.minus__header__main_-navigationSidebarContainer ul li ul li {
  font-weight: 700;
}

.minus__header__main_-navigationSidebarContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus__header__main_-navigationSidebarContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus__header__main_-navigationSidebarContainer ul li,
.minus__header__main_-navigationSidebarContainer ul li ul li {
  font-weight: 700;
}

.minus__header__main_-navigationSidebarContainer ul li a {
  display: block;
  padding-bottom: 15px;
  margin: 0;
  color: #1f7f9b;
  text-decoration: underline;
  font-size: 1.25em;
}

.mainNav__sidebar__socialLi {
  padding: 0.75em;
}

.menu-open {
  display: block;
}

.hide {
  display: none;
}

.hamburger-menu {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  background-color: #000;
  fill: #fff;
  border:0;
  stroke: #000;
}
